{% extends "core/base.html" %}
{% load l10n %} 
{% block content %}
<div class="container mt-4">
    <h2>Lista de Compras</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Proveedor</th>
                <th>Fecha</th>
                <th>Cilindros</th>  <!-- Nueva columna -->
                <th>Precio</th>     <!-- Nueva columna -->
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.id }}</td>
                <td>{{ compra.proveedor.nombre }}</td>
                <td>{{ compra.fecha }}</td>
                <td>
                    {% for detalle in compra.detalles.all %}
                        {{ detalle.cantidad }} cilindros de {{ detalle.cilindro.peso }} kg <br>
                    {% endfor %}
                </td>
                <td>
                    {% for detalle in compra.detalles.all %}
                        ${{ detalle.precio_unitario|floatformat:0|localize }} <br>
                    {% endfor %}
                </td>
                <td><a href="{% url 'compras:detalle_compra' compra.id %}" class="btn btn-primary btn-sm">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'compras:realizar_compra' %}" class="btn btn-success">Registrar Nueva Compra</a>
</div>
<nav aria-label="Paginación" class="mt-4">
  <ul class="pagination justify-content-center">
    {% if compras.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" title="Ir al inicio">⏮️</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ compras.previous_page_number }}" title="Página anterior">⬅️</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">⏮️</span></li>
      <li class="page-item disabled"><span class="page-link">⬅️</span></li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">
        Página {{ compras.number }} de {{ compras.paginator.num_pages }}
      </span>
    </li>

    {% if compras.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ compras.next_page_number }}" title="Página siguiente">➡️</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ compras.paginator.num_pages }}" title="Ir al final">⏭️</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">➡️</span></li>
      <li class="page-item disabled"><span class="page-link">⏭️</span></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}

